fastapi
uvicorn
streamlit
sqlalchemy
pydantic-settings
python-dotenv
python-multipart
jinja2
celery
redis
requests
pandas
openpyxl
python-docx
python-pptx
pymupdf
ollama
paddleocr
docker
pywin32
streamlit-authenticator
streamlit-quill
extra-streamlit-components